<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Code</h1><br>
        <input type="file" name="document"><br><br>
        <textarea rows="20" cols="140" name="code"></textarea>
        <h1>Input test</h1><br>
        <textarea rows="7" cols="40" name="input"></textarea>
        <br>
        <br>
        <br>

        <br>
        <button>Submit</button>
    </form>
    {% if url %}
        <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
    {% endif %}
    <h1>Output:</h1>
    {% if out %}
        <textarea rows="20" cols="50">
            {% for chunk in out %}
                {{ chunk }}
            {% endfor %}
        </textarea>
    {% endif %}
</body>
</html>